[submodule "01-introduction/cmake"]
	path = 01-introduction/cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules.git
[submodule "02-dependencies/cmake"]
	path = 02-dependencies/cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
[submodule "03-libraries/cmake"]
	path = 03-libraries/cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
[submodule "04-unittests/cmake"]
	path = 04-unittests/cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
